@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500&display=swap');

.logo {
    width: 118px;
    height: 62px;
    top: 31px;
    left: 27px
}

.title {
    font-family: 'Epilogue', sans-serif;
    font-size: 80px;
    font-weight: 600;
    letter-spacing: 0em;
    animation-name: animasi-masuk;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}


@keyframes animasi-masuk {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.col-1 {
    width: 557px;
    top: 155px;
    left: 145px;
    gap: 40px;

}

.container {
    display: grid;
    margin-left: 200px;
    margin-right: 200px;
    grid-template-columns: repeat(1, 557px);
}

.container-paragraft {
    width: 557px;
    height: 216px;
    border: 1px;
}

.paragraft {
    font-family: 'Epilogue', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: justify;
}

.container-button {
    margin-top: 50px;
    margin-bottom: 50px;
}

#button-submit {
    width: 208px;
    height: 47px;
    top: 476px;
    border-radius: 2px;
    background: #FF6464;
    font-family: 'Epilogue', sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

#button-submit:hover {
    transform: scale(1.1);
}